footer  {display:none}
ul.footer_ul {
    list-style: none;
    text-align: right;
}

.blog-post-body ,.blog-listing__data {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.blog-listing__content p .responsive-embed , 
.blog-listing__content .responsive-embed  {display:none}

@media (max-width: 650px)  { 
    /* for 10 inches tablet screens */
    .accordion-body iframe {width:100%}
    ul.footer_ul {
        
        text-align: center;
    }
  } 

  
@media (min-width: 768px){
    .kjb-video-responsive {
        height: 220px;
    }

    .blog-listing img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    .blog-listing__content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        
     }

}


