footer  {display:none}
ul.footer_ul {
    list-style: none;
    text-align: right;
}

.blog-post-body ,.blog-listing__data {
    direction: rtl;
    unicode-bidi: bidi-override;
}

@media (min-width: 768px){

    .kjb-video-responsive {
        height: 220px;
    }

    .blog-listing img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    .blog-listing__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
     }

}